sudo: false

cache: bundler

language: ruby

rvm:
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - ruby-head

script: bundle exec rspec

bundler_args: --without development

matrix:
  allow_failures:
    - rvm: ruby-head
  include:
    - rvm: 2.4.0
      after_script:
        - bundle exec codeclimate-test-reporter

addons:
  code_climate:
    repo_token: 36f3969bdc1e5e821f38411648b9ba4217fa4518c9f58c30f0e9b0d1639b4f19
